subvendorApiGeneratorTrigger-logic-app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_a_pull_request_is_created_or_modified": {
                "type": "ApiConnectionWebhook",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['github']['connectionId']"
                        }
                    },
                    "body": {
                        "events": [
                            "pull_request"
                        ],
                        "active": true,
                        "name": "web",
                        "config": {
                            "content_type": "json",
                            "url": "@listCallbackUrl()"
                        }
                    },
                    "headers": {
                        "Accept": "application/vnd.github.v3+json"
                    },
                    "path": "/repos/@{encodeURIComponent('hedonicadapter')}/@{encodeURIComponent('terraform-modules')}/hooks"
                }
            }
        },
        "actions": {
            "Condition_1": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['pull_request']?['merged']",
                                true
                            ]
                        }
                    ]
                },
                "actions": {
                    "Get_repo_tree": {
                        "type": "Http",
                        "inputs": {
                            "uri": "https://api.github.com/repos/hedonicadapter/terraform-modules/git/trees/main",
                            "method": "GET",
                            "headers": {
                                "Accept": "application/vnd.github+json",
                                "Authorization": "Bearer "
                            },
                            "queries": {
                                "recursive": "true"
                            }
                        },
                        "runtimeConfiguration": {
                            "contentTransfer": {
                                "transferMode": "Chunked"
                            }
                        }
                    },
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@body('Get_repo_tree')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "sha": {
                                        "type": "string"
                                    },
                                    "url": {
                                        "type": "string"
                                    },
                                    "tree": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "path": {
                                                    "type": "string"
                                                },
                                                "mode": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "sha": {
                                                    "type": "string"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "path",
                                                "mode",
                                                "type",
                                                "sha",
                                                "url"
                                            ]
                                        }
                                    },
                                    "truncated": {
                                        "type": "boolean"
                                    }
                                },
                                "required": [
                                    "sha",
                                    "url",
                                    "tree",
                                    "truncated"
                                ]
                            }
                        },
                        "runAfter": {
                            "Get_repo_tree": [
                                "Succeeded"
                            ]
                        }
                    },
                    "For_each_2": {
                        "type": "Foreach",
                        "foreach": "@body('Parse_JSON')['tree']",
                        "actions": {
                            "Condition": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@item()['path']",
                                                "variables.tf"
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Get_repo_content": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "https://api.github.com/repos/hedonicadapter/terraform-modules/contents/@{item()['path']}",
                                            "method": "GET",
                                            "headers": {
                                                "Authorization": "Bearer "
                                            }
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    },
                                    "Parse_JSON_1": {
                                        "type": "ParseJson",
                                        "inputs": {
                                            "content": "@body('Get_repo_content')",
                                            "schema": {
                                                "type": "object",
                                                "properties": {
                                                    "type": {
                                                        "type": "string"
                                                    },
                                                    "encoding": {
                                                        "type": "string"
                                                    },
                                                    "size": {
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "path": {
                                                        "type": "string"
                                                    },
                                                    "content": {
                                                        "type": "string"
                                                    },
                                                    "sha": {
                                                        "type": "string"
                                                    },
                                                    "url": {
                                                        "type": "string"
                                                    },
                                                    "git_url": {
                                                        "type": "string"
                                                    },
                                                    "html_url": {
                                                        "type": "string"
                                                    },
                                                    "download_url": {
                                                        "type": "string"
                                                    },
                                                    "_links": {
                                                        "type": "object",
                                                        "properties": {
                                                            "git": {
                                                                "type": "string"
                                                            },
                                                            "self": {
                                                                "type": "string"
                                                            },
                                                            "html": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "runAfter": {
                                            "Get_repo_content": [
                                                "Succeeded"
                                            ]
                                        }
                                    },
                                    "sendToApiGenerator": {
                                        "type": "Http",
                                        "inputs": {
                                            "uri": "https://api-generator-idiot-ms.azurewebsites.net/api/createSpec/versioning-not-implemented?code=",
                                            "method": "POST",
                                            "body": {
                                                "contents": "@body('Parse_JSON_1')?['content']"
                                            }
                                        },
                                        "runAfter": {
                                            "Parse_JSON_1": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {}
                                }
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "Succeeded"
                            ]
                        }
                    }
                },
                "else": {
                    "actions": {}
                },
                "runAfter": {}
            }
        },
        "outputs": {},
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "github": {
                    "id": "/subscriptions/dfdc9108-f03d-493c-a855-142613894024/providers/Microsoft.Web/locations/westeurope/managedApis/github",
                    "connectionId": "/subscriptions/dfdc9108-f03d-493c-a855-142613894024/resourceGroups/chungus/providers/Microsoft.Web/connections/github",
                    "connectionName": "github"
                }
            }
        }
    }
}
